
	ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	}

	li {
		float: right;
	}

	li a {
	color: white;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	}

	/* Change the link color on hover */
	li a:hover {
	text-decoration: underline;
    background-color: #555;
    color: white;
	}


	body {
		background-image: url("backgroundImage.jpg");
	}

	h1 {
		text-align: center;
		color: white;
		break-after: auto;
	}

	form {
		text-align: center;
		color: white;
	}
